.container {
    margin: 0;
    padding: 0;
    height:100hv;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
}
.container div{
    background-color: pink;
    font-size: 20px;
}
.header{
    grid-column: 1 / 13;
}
.sidebar{
    grid-column: 1 /4;
    grid-row: 2 / 12;
}
.navigation{
    grid-column: 4 / 7;
}
.ads{
    grid-column: 10 / 4;
    grid-row: 2 /12;
}
.main{
    grid-column: 4 / 7;
    grid-row: 3 / 11;
}
.footer{
    grid-column: 1 / 13;
  
}@media( min-width:0px)and(max-width: 600px){

    header{
        grid-column: 1 / 13;
    }
sidebar{
        grid-column: 1 /4;
        grid-row: 3/ 11;
    }
    navigation{
        grid-column: 1/13;
        grid-row: 2 / 3;
    }
    ads{
        grid-column: 10 / 4;
        grid-row: 2 /12;
    }
    main{
        grid-column: 4 / 7;
        grid-row: 3 / 11;
    }
    footer{
        grid-column: 1 / 13;
      
    }
}

   